@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "General Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 36 100% 100%;
    --foreground: 36 5% 10%;
    --card: 36 50% 100%;
    --card-foreground: 36 5% 15%;
    --popover: 36 100% 100%;
    --popover-foreground: 36 100% 10%;
    --primary: 36 44.4% 85.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 36 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -2 30% 95%;
    --muted-foreground: 36 5% 40%;
    --accent: -2 30% 90%;
    --accent-foreground: 36 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 36 5% 100%;
    --border: 36 30% 82%;
    --input: 36 30% 50%;
    --ring: 36 44.4% 85.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 36 50% 10%;
    --foreground: 36 5% 100%;
    --card: 36 50% 10%;
    --card-foreground: 36 5% 100%;
    --popover: 36 50% 5%;
    --popover-foreground: 36 5% 100%;
    --primary: 36 44.4% 85.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 36 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -2 30% 25%;
    --muted-foreground: 36 5% 65%;
    --accent: -2 30% 25%;
    --accent-foreground: 36 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 36 5% 100%;
    --border: 36 30% 50%;
    --input: 36 30% 50%;
    --ring: 36 44.4% 85.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
